{% extends "layout/default/template.twig" %}
{% block title %} {{title}} {% endblock %}
{% block content %}
    <div class="col-md-12">
        {% include "partials/_messages.twig" %}
        <div class="card">
            <h5 class="card-header">Titulo del recurso</h5>
            <div class="card-body">
                <h5 class="card-title">Frase clave</h5>
                <p class="card-text">Contenido del recurso.</p>
            </div>
        </div>
    </div>
{% endblock %}